<div class="home-bg"></div>
<div class="child-select-text"><span>You can use this page to add profiles for each person in your family. You can track to see how they’re meeting their goals for eating, moving and sleeping.<br><br>Your child can choose a sticker for their profile by clicking on the ‘edit’ button.</span><br><br><span>Once you have added your child(ren), click on your child’s name to move to the next stage.</span></div>
<div class="child-select-inner">
	<a href="#/child-update"><div class="child-select-button child-select-button--add">
		<div class="child-select-button__name child-select-button__name--add"><span>Add child</span></div>
	</div></a>
	<div ng-repeat="child in vm.children" class="child-select-button">
		<div class="child-select-button__sticker" style="background-image: url('stickers/{{child.sticker}}');"></div>
		<div class="child-select-button__name">
			<a href="#/child/{{child.id}}"><span>{{child.firstName}} {{child.lastName}}</span></a>
		</div>
		<div class="child-select-button__action child-select-button__action--edit">
			<a href="#/child/{{child.id}}/update"><span>Edit</span></a>
		</div>
		<div class="child-select-button__action child-select-button__action--delete" ng-click="vm.deleteChild(child.id)">
			<span>Delete</span>
		</div>
	</div>
</div>
<div class="title-text title-text--child-select">
	<div class="title-text__title">Healthy Kids</div>
	<br>
	<div class="title-text__sub">eat&middot;move&middot;sleep</div>
</div>
<button ng-click="vm.logout()">Logout</button>