<div class="home-bg"></div>
<div class="child-select-text"><span>The Healthy Kids game lets you set goals for how you and your family eat, move, and sleep. You can decide on how you will reward yourselves for reaching your goals, and you can track everyone’s progress over time. If you want, you can tell other people about it.</span></div>
<div class="child-select-inner">
	<a href="#/child-update"><div class="child-select-button child-select-button--add"><span>Add User</span></div></a>
	<div ng-repeat="child in vm.children" class="child-select-button">
		<a href="#/child/{{child.id}}"><span>{{child.firstName}} {{child.lastName}}</span></a>
		<div class="child-select-button__edit"><a href="#/child/{{child.id}}/update"><span>Edit</span></a></div>
	</div>
</div>
<div class="title-text title-text--child-select">
	<div class="title-text__title">Healthy Kids</div>
	<br>
	<div class="title-text__sub">eat&middot;move&middot;sleep</div>
</div>
<button ng-click="vm.logout()">Logout</button>