<div class="child-update-bg"></div>
<div class="child-form">
	<div class="child-form__icon" style="background-image: url('stickers/{{vm.child.sticker || 'sticker1.png'}}');"></div>
	<form class="child-form__form child-form__form--new">
		<input class="child-form__input" placeholder="Name" type="text" ng-model="vm.newChild.firstName" ng-required="true"/>
		<input class="child-form__input" placeholder="Age" type="number" min="1" max="100" ng-model="vm.newChild.age"/>
		<div class="child-form__input child-form__input--sticker">
			<span>Pick a sticker!</span>
			<div class="child-form__menu-icon" ng-click="vm.displayStickerSelect()">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="sticker-select" ng-init=vm.getStickers()>
				<div class="sticker-select__sticker" ng-repeat="sticker in vm.stickers">
					<img ng-src="stickers/{{sticker}}" ng-click="vm.setSticker(sticker)"/>
				</div>
			</div>
		</div>
		<div class="child-form__input child-form__input--submit" ng-click="vm.createChild()"><span>Save</span></div>
	</form>
</div>
<div class="title-text title-text--child-update">
	<div class="title-text__title">Healthy Kids</div>
	<br>
	<div class="title-text__sub">move&middot;eat&middot;sleep</div>
</div>