<!-- <div ng-show="authenticated"> -->
	<header-partial/>
	<main>
		<div class="info-container">
			<div class="info-inner">
				<div class="info-tabs">	
					<div class="info-tabs__behind-tabs">
						<div></div>
						<div></div>
					</div>	
					<div ng-init="vm.changeInfoTab(vm.targets[2])" ng-repeat="(i, activity) in vm.targets" class="info-tabs__tab info-tabs__tab--{{activity.value}}" ng-click="vm.changeInfoTab(activity)">
						<div class="info-tabs__image info-tabs__image--{{activity.value}}"></div>
					</div>
				</div>
				<div class="info-container__title">{{vm.current_activity.display}}</div>
				<div class="info-container__video"></div>
				<div class="info-container__text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</div>
			<div class="info-button" ng-click="vm.displayInfoSection()"></div>
		</div>
		<div class="weekdays-column">
			<div ng-repeat="(i, weekday) in vm.days" class="weekdays-column__weekday"><span>{{weekday.name}}</span></div>
		</div>
		<div class="activities-row">
			<div ng-repeat="(i, activity) in vm.targets" class="activities-row__activity activities-row__activity--{{activity.value}}">
				<div class="activities-row__image activities-row__image--{{activity.value}}"></div>
				<span>{{activity.display}}</span>
			</div>
		</div>
		<div class="tick-chart">
			<div ng-repeat="(i, activity) in vm.targets" class="tick-chart__column tick-chart__column--{{activity.display | lowercase}}">
				<div ng-repeat="(i, weekday) in vm.days" class="tick-chart__day" ng-click="vm.selectAchievement(weekday, activity)"  data-day="{{weekday.name}}">
					<div class="checkbox checkbox--day checkbox--{{activity.value}}">
						<div class="tick tick--{{activity.value}}" ng-show="vm.achievements[weekday.value][activity.value]"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="super-goal" ng-class="{selected:vm.isSuperGoal()}"></div>
		<div class="weekly-goals">
			<div ng-repeat="(i, activity) in vm.targets" class="weekly-goals__goal">
				<div ng-class="{'checkbox': true, 'checkbox--goals':true, 'checkbox--weekly-goal':true, 'checkbox--selected':vm.isWeeklyGoal(activity)}">
					<div class="tick tick--goals" ng-show="vm.isWeeklyGoal(activity)"></div>
				</div>
			</div>
		</div>
		<div class="daily-goals">
			<div ng-repeat="(i, weekday) in vm.days" class="daily-goals__goal">
				<div ng-class="{'checkbox': true, 'checkbox--goals':true, 'checkbox--daily-goal':true, 'checkbox--selected':vm.isDailyGoal(weekday)}">
					<div class="tick tick--goals" ng-show="vm.isDailyGoal(weekday)"></div>
				</div>
			</div>
		</div>
		<div class="week-nav">
			<span ng-show="vm.week == 'this'" ng-click="vm.changeWeek('last')">&lt;&lt; Last week</span>
			<span ng-show="vm.week == 'last'" ng-click="vm.changeWeek('this')">This week &gt;&gt;</span>
		</div>
	</main>
<!-- </div> -->