<!-- <div ng-show="authenticated"> -->
	<header-partial/>
	<main>
		<div class="info-container">
			<div class="info-inner">
				<div class="info-tabs">	
					<div class="info-tabs__behind-tabs">
						<div></div>
						<div></div>
					</div>	
					<div ng-repeat="(i, activity) in vm.targets" class="info-tabs__tab info-tabs__tab--{{activity.value}}" ng-click="vm.changeInfoTab(activity)">
						<div class="info-tabs__image info-tabs__image--{{activity.value}}"></div>
					</div>
				</div>
				<div class="info-container__title">{{vm.current_activity.display}}</div>
				<div class="info-container__video"></div>
				<div class="info-container__caption" ng-show="vm.current_activity.value=='nutrition'">
					Meal times in the Amosa household are special family times. Helen and Amos have put a lot of thought into how to make sure everyone eats a good variety of healthy food that they enjoy.
				</div>
				<div class="info-container__caption" ng-show="vm.current_activity.value=='movement'">
					Helen and Amos love getting out with their kids, be it a game in the park or a bike ride to the shops. But they&#8217;ve also found lots of fun ways for their kids to be active indoors.
				</div>
				<div class="info-container__caption" ng-show="vm.current_activity.value=='sleep'">
					Helen and Amos believe that the way children go to sleep is the way they wake up. They&#8217;ve set up routines to make sure their children go to bed feeling safe, comfortable, and relaxed.
				</div>
				<h2 ng-show="vm.current_activity.value=='nutrition'">Tips for eating well</h2>
				<h2 ng-show="vm.current_activity.value=='movement'">Tips for moving well</h2>
				<h2 ng-show="vm.current_activity.value=='sleep'">Tips for sleeping well</h2>
				<div class="info-container__grey-bg"></div>
				<div class="info-container__text" ng-show="vm.current_activity.value=='movement'">
					<p>Being active and on the move doesn&#8217;t have to be complicated or expensive. The most important thing is that you and your family choose things to do that you enjoy and that are easy for you to fit into your daily routines.  Here are some tips to get you started:</p>
					<ul>
						<li>Have fun and be active together as a family. Walk, run, and play with your child.</li>
						<li>Encourage your child to play outside as much as possible.</li>
						<li>Children can have lots of fun with basic equipment, such as balls, balloons, kites, buckets, spades, and skipping ropes.</li>
						<li>What was fun for you as a child? Teach these games to your child.</li>
						<li>Try something new together as a family. How about making a kite or inventing a balloon game?</li>
						<li>What&#8217;s on offer in your local community? Check out your local playgrounds, swimming pools, beach, walking tracks and parks. Are there good trees for climbing? Is there a cricket pitch or soccer goal at your local school?</li>
						<li>Group activities like dancing or kapa haka are great ways to be active. Maybe your family could join a sports team, a cultural group, or an exercise group at your church?</li>
						<li>Some great indoor activity ideas are dancing, table tennis, skittles, hide and seek, and Twister. Then there are party games like musical statues and musical chairs.</li>
						<li>Use your imagination! Build a hut, make an obstacle course, or start a garden with your child!</li>
					</ul>
				</div>
				<div class="info-container__text" ng-show="vm.current_activity.value=='nutrition'">
					<p>Here are some tips to help you make sure that your child gets to enjoy food that eats tastes good and is good for their bodies.</p>
					<ul>
						<li>Shared meal times create a regular time for catching up on what everyone is doing. Whenever you can, eat meals together as a family. Keep the TV and other screens turned off.</li>
						<li>Start your child&#8217;s day with a healthy breakfast. Try fruit and milk with grainy cereals like wheat biscuits, porridge, or wholegrain toast.</li>
						<li>Children are smaller than adults so don&#8217;t need to eat as much. Have a smaller plate or bowl for your child. A special bowl with a picture can encourage a fussy eater.</li>
						<li>It&#8217;s best to let children serve themselves. Children are better than we think at working out how much food they need to get through the day.</li>
						<li>Children&#8217;s tastes can change, so keep trying new foods. The three-year-old who hates broccoli may turn into the four-year-old who loves it!</li>
						<li>Children don&#8217;t need sugary drinks. Water and low-fat plain milk are the best drinks. And tap water is free!</li>
						<li>Children need to eat small amounts and often throughout the day. Choose healthy snacks like fruit, vegetables, nuts, plain popcorn, low-fat yoghurt, crackers and cheese.</li>
						<li>Aim for five servings of vegetables and fruit every day.</li>
						<li>Reward your children and give comfort with hugs and praise instead of food treats like sweets.</li>
						<li>Buy fruit and vegetables when they&#8217;re in season. They&#8217;re cheaper and fresher than out-of-season food that has been imported.</li>
						<li>Check out your local markets.</li>
						<li>Canned and frozen fruit and vegetables are just as good as fresh.</li>
						<li>Wholegrain food will keep your child fuller for longer. Try brown rice, pasta, and bread.</li>
						<li>Sandwiches and filled rolls are tasty options for lunch.</li>
						<li>Use margarine instead of butter, and spread it thinly.</li>
						<li>Choose low-fat options, like reduced-fat unsweetened yoghurt or light coconut milk.</li>
						<li>Let your children help you make ‘fast food&#8217; at home, like burgers, pizzas, wedges. Have fun together, choosing the ingredients and putting them together.</li>
					</ul>
				</div>
				<div class="info-container__text" ng-show="vm.current_activity.value=='sleep'">
					<p>We know sleep is good for children, but how do we make sure they get it? Here are some tips to help make sure your child faces each day feeling happy and full of energy:</p>
					<ul>
						<li>Being active during the day will help your child sleep at night. Try something fun and new from the ideas on the Move page.</li>
						<li>Having regular times for your child to go to bed and get up helps to set their &#8220;body clock&#8221; so you don&#8217;t have to do it!</li>
						<li>Your child needs a place to sleep that is dark, warm, dry, and quiet. It should be a cosy place where they feel safe.</li>
						<li>Try to keep distractions like televisions and computers away from your child&#8217;s sleeping place.</li>
						<li>Quiet activities like stories and puzzles are good in the hour before bed. They help your child calm their body and mind so it&#8217;s easier to get to sleep. Try setting a timer so everyone knows when quiet time is.</li>
						<li>A regular bedtime routine means children know what to expect at bed time. It helps them feel safe and comfortable so they can relax.</li>
						<li>Your child&#8217;s bedtime routine will include cleaning teeth. It could also include having a wash, changing into nightwear, singing a song, reading a book, saying a prayer, getting cuddles and kisses, and being tucked in.</li>
						<li>Try drawing pictures of your family&#8217;s bedtime routine and displaying it to remind you and your child what to do.</li>
					</ul>
				</div>
			</div>
			<div class="info-button" ng-click="vm.displayInfoSection(); vm.changeInfoTab(vm.targets[0])"></div>
		</div>
		<div class="selected-goals">
			<div class="selected-goals__goal selected-goals__goal--nutrition">
				<span ng-click="vm.viewGoalsScreen()" title="Click to set your goals">{{vm.goals.nutrition}}</span>
			</div>
			<div class="selected-goals__goal selected-goals__goal--movement">
				<span ng-click="vm.viewGoalsScreen()" title="Click to set your goals">{{vm.goals.movement}}</span>
			</div>
			<div class="selected-goals__goal selected-goals__goal--sleep">
				<span ng-click="vm.viewGoalsScreen()" title="Click to set your goals">{{vm.goals.sleep}}</span>
			</div>
		</div>
		<div class="weekdays-column">
			<div ng-repeat="(i, weekday) in vm.days" class="weekdays-column__weekday"><span>{{weekday.name}}</span></div>
		</div>
		<div class="activities-row">
			<div ng-repeat="(i, activity) in vm.targets" class="activities-row__activity activities-row__activity--{{activity.value}}">
				<div class="activities-row__image activities-row__image--{{activity.value}}"></div>
				<span>{{activity.display}}</span>
			</div>
		</div>
		<div class="tick-chart">
			<div ng-repeat="(i, activity) in vm.targets" class="tick-chart__column tick-chart__column--{{activity.display | lowercase}}">
				<div ng-repeat="(i, weekday) in vm.days" class="tick-chart__day" ng-click="vm.selectAchievement(weekday, activity)"  data-day="{{weekday.name}}">
					<div class="checkbox checkbox--day checkbox--{{activity.value}}">
						<div class="tick tick--{{activity.value}}" ng-show="vm.achievements[weekday.value][activity.value]"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="super-goal" ng-class="{selected:vm.isSuperGoal()}"></div>
		<div class="weekly-goals">
			<div ng-repeat="(i, activity) in vm.targets" class="weekly-goals__goal">
				<div ng-class="{'checkbox': true, 'checkbox--goals':true, 'checkbox--weekly-goal':true, 'checkbox--selected':vm.isWeeklyGoal(activity)}">
					<div class="tick tick--goals" ng-show="vm.isWeeklyGoal(activity)"></div>
				</div>
			</div>
		</div>
		<div class="daily-goals">
			<div ng-repeat="(i, weekday) in vm.days" class="daily-goals__goal">
				<div ng-class="{'checkbox': true, 'checkbox--goals':true, 'checkbox--daily-goal':true, 'checkbox--selected':vm.isDailyGoal(weekday)}">
					<div class="tick tick--goals" ng-show="vm.isDailyGoal(weekday)"></div>
				</div>
			</div>
		</div>
		<div class="week-nav">
			<span ng-show="vm.week == 'this'" ng-click="vm.changeWeek('last')">&lt;&lt; Last week</span>
			<span ng-show="vm.week == 'last'" ng-click="vm.changeWeek('this')">This week &gt;&gt;</span>
		</div>
		<div class="congrats-popup">
			<div class="congrats-popup__inner">
				<div class="congrats-popup__close" ng-click="vm.displayCongrats()"><span>X</span></div>
				<h1>Well done {{vm.child.firstName}}!</h1>
				<div class="congrats-popup__image" style="background-image: url('imgs/{{vm.randomTrophy()}}')"></div>
			</div>
		</div>
	</main>