<header-partial/>
<div class="rewards" ng-init="vm.currentPage = 'goals'">
	<div class="rewards__text">
		<p>Here are some goals you and your child might choose to support healthy eating, moving, and sleeping. You can choose from the list of possibilities, or you can make up your own. What would be some good goals for your family?</p>
	</div>
	<div class="rewards__goals">
		<h2>Possible goals</h2>
		<!-- <div class="rewards__select"><span>Select</span></div> -->
		<div class="rewards__select" ng-class="{'rewards__select--active': !vm.useCustomGoals}" ng-click="vm.setGoals('default')"><span>Select{{vm.useCustomGoals ? "" : "ed"}}</span></div>
		<div class="rewards__reward rewards__reward--nutrition">
			<div class="rewards__image rewards__image--nutrition" style="background-image: url('imgs/Stars-5.png');"></div>
			<select ng-model="vm.child.defaultNutritionGoal" ng-change="vm.updateDefaultGoals()">
				<option ng-repeat="goal in vm.defaultGoals.nutrition" value="{{goal.id}}" ng-selected="vm.child.defaultNutritionGoal === goal.id">{{goal.goal}}</option>
			</select>
			<!-- <span>Eat three different vegetables for dinner.</span> -->
		</div>
		<div class="rewards__reward rewards__reward--movement">
			<div class="rewards__image rewards__image--movement" style="background-image: url('imgs/Stars-3.png');"></div>
			<select ng-model="vm.child.defaultMovementGoal" ng-change="vm.updateDefaultGoals()">
				<option ng-repeat="goal in vm.defaultGoals.movement" value="{{goal.id}}" ng-selected="vm.child.defaultMovementGoal === goal.id">{{goal.goal}}</option>
			</select>
			<!-- <span>Play outside for half an hour.</span> -->
		</div>
		<div class="rewards__reward rewards__reward--sleep">
			<div class="rewards__image rewards__image--sleep" style="background-image: url('imgs/Stars-4.png');"></div>
			<select ng-model="vm.child.defaultSleepGoal" ng-change="vm.updateDefaultGoals()">
				<option ng-repeat="goal in vm.defaultGoals.nutrition" value="{{goal.id}}" ng-selected="vm.child.defaultSleepGoal === goal.id">{{goal.goal}}</option>
			</select>
			<!-- <span>Be in bed by 7.</span> -->
		</div>
	</div>
	<div class="rewards__goals">
		<h2>My goals</h2>
		<div class="rewards__select" ng-class="{'rewards__select--active': vm.useCustomGoals}" ng-click="vm.setGoals('custom')"><span>Select{{vm.useCustomGoals ? "ed" : ""}}</span></div>
		<div class="rewards__reward rewards__reward--nutrition">
			<div class="rewards__image rewards__image--nutrition" style="background-image: url('imgs/Stars-5.png');"></div>
			<textarea placeholder="Click to edit" ng-model="vm.customGoals['nutrition'].goal" ng-blur="vm.updateGoals()"></textarea>
		</div>
		<div class="rewards__reward rewards__reward--movement">
			<div class="rewards__image rewards__image--movement"  style="background-image: url('imgs/Stars-3.png');"></div>
			<textarea placeholder="Click to edit" ng-model="vm.customGoals['movement'].goal" ng-blur="vm.updateGoals()"></textarea>
		</div>
		<div class="rewards__reward rewards__reward--sleep">
			<div class="rewards__image rewards__image--sleep"  style="background-image: url('imgs/Stars-4.png');"></div>
			<textarea placeholder="Click to edit" ng-model="vm.customGoals['sleep'].goal" ng-blur="vm.updateGoals()"></textarea>
		</div>
	</div>
</div>
<div class="week-nav"></div>

<!-- <header-partial/>
<div class="rewards">
	<div class="rewards__recommended">
		<h2>Recommended goals</h2>
		<div class="rewards__reward rewards__reward--nutrition">
			<div class="rewards__image rewards__image--nutrition"></div>
			<span style="float:right; width:200px;" ng-show="vm.selectedGoalId('NUTRITION') == -1">[Selected*]</span>
			<span>Eat three different vegetables for dinner. </span>
		</div>
		<div class="rewards__reward rewards__reward--movement">
			<div class="rewards__image rewards__image--movement"></div>
			<span style="float:right; width:200px;" ng-show="vm.selectedGoalId('MOVEMENT') == -1">[Selected*]</span>
			<span>Play outside for half an hour.</span>
		</div>
		<div class="rewards__reward rewards__reward--sleep">
			<div class="rewards__image rewards__image--sleep"></div>
			<span style="float:right; width:200px;" ng-show="vm.selectedGoalId('SLEEP') == -1">[Selected*]</span>
			<span>Be in bed by 7.</span>
		</div>
	</div>
<h2>Add your own goals <span ng-click="vm.addGoal()">+</span></h2>
<div ng-repeat="goal in vm.child.customGoals | orderBy: 'id'">
	<span style="float:right;" ng-show="goal.selected">[Selected*]</span>
	<p class="activities-row__activity--{{goal.target | lowercase}}">{{goal.goal}} <button ng-click="vm.editGoal(goal)">edit</button></p>
</div>
</div>

<modal-dialog show="vm.showAddGoalModal" width="550px" height="350px">
	<h2>Add a goal</h2>
	<p>You can create goals specifically tailored to this child</p>
	<p><input type="text" id="newGoalGoal" style="width:100%" ng-model="vm.editingGoal.goal"/><p>
	<p><input type="radio" name="newGoalTarget" ng-model="vm.editingGoal.target" value="MOVEMENT" id="newGoalTargetMovement"><label for="newGoalTargetMovement"><img src="../../../imgs/movement.png" width="100px" /></label>
	<input type="radio" name="newGoalTarget" ng-model="vm.editingGoal.target" value="SLEEP" id="newGoalTargetSleep"><label for="newGoalTargetSleep"><img src="../../../imgs/sleep.png" width="100px" /></label>
	<input type="radio" name="newGoalTarget" ng-model="vm.editingGoal.target" value="NUTRITION" id="newGoalTargetNutrition"><label for="newGoalTargetNutrition"><img src="../../../imgs/nutrition.png" width="100px" /></label></p>
	<p><input type="checkbox" name="newGoalSelected" id="newGoalSelected" ng-model="vm.editingGoal.selected"><label for="newGoalSelected">Make this goal your target</label></p>	
	<p><input type="submit" value="save" ng-click="vm.saveGoal()"/></p>
</modal-dialog>
 -->