<header-partial/>
<div class="rewards">
	<div class="rewards__recommended">
		<h2>Recommended goals</h2>
		<div class="rewards__reward rewards__reward--nutrition">
			<div class="rewards__image rewards__image--nutrition"></div>
			<span style="float:right; width:200px;" ng-show="vm.selectedGoalId('NUTRITION') == -1">[Selected*]</span>
			<span>Eat three different vegetables for dinner. </span>
		</div>
		<div class="rewards__reward rewards__reward--movement">
			<div class="rewards__image rewards__image--movement"></div>
			<span style="float:right; width:200px;" ng-show="vm.selectedGoalId('MOVEMENT') == -1">[Selected*]</span>
			<span>Play outside for half an hour.</span>
		</div>
		<div class="rewards__reward rewards__reward--sleep">
			<div class="rewards__image rewards__image--sleep"></div>
			<span style="float:right; width:200px;" ng-show="vm.selectedGoalId('SLEEP') == -1">[Selected*]</span>
			<span>Be in bed by 7.</span>
		</div>
	</div>
<h2>Add your own goals <span ng-click="vm.addGoal()">+</span></h2>
<div ng-repeat="goal in vm.child.customGoals | orderBy: 'id'">
	<span style="float:right;" ng-show="goal.selected">[Selected*]</span>
	<p class="activities-row__activity--{{goal.target | lowercase}}">{{goal.goal}} <button ng-click="vm.editGoal(goal)">edit</button></p>
</div>
</div>

<modal-dialog show="vm.showAddGoalModal" width="550px" height="350px">
	<h2>Add a goal</h2>
	<p>You can create goals specifically tailored to this child</p>
	<p><input type="text" id="newGoalGoal" style="width:100%" ng-model="vm.editingGoal.goal"/><p>
	<p><input type="radio" name="newGoalTarget" ng-model="vm.editingGoal.target" value="MOVEMENT" id="newGoalTargetMovement"><label for="newGoalTargetMovement"><img src="../../../imgs/movement.png" width="100px" /></label>
	<input type="radio" name="newGoalTarget" ng-model="vm.editingGoal.target" value="SLEEP" id="newGoalTargetSleep"><label for="newGoalTargetSleep"><img src="../../../imgs/sleep.png" width="100px" /></label>
	<input type="radio" name="newGoalTarget" ng-model="vm.editingGoal.target" value="NUTRITION" id="newGoalTargetNutrition"><label for="newGoalTargetNutrition"><img src="../../../imgs/nutrition.png" width="100px" /></label></p>
	<p><input type="checkbox" name="newGoalSelected" id="newGoalSelected" ng-model="vm.editingGoal.selected"><label for="newGoalSelected">Make this goal your target</label></p>	
	<p><input type="submit" value="save" ng-click="vm.saveGoal()"/></p>
</modal-dialog>
