<div class="home-bg"></div>
<div class="homepage-background-squares homepage-background-squares--splash">
	<div class="homepage-background-squares__square homepage-background-squares__square--splash"></div>
	<div class="homepage-background-squares__square homepage-background-squares__square--splash"></div>
	<div class="homepage-background-squares__square homepage-background-squares__square--splash"></div>
	<div class="homepage-background-squares__square homepage-background-squares__square--splash"></div>
	<div class="homepage-background-squares__bottom"></div>
</div>

<div class="title-text">
	<div class="title-text__welcome">Welcome to</div>
	<div class="title-text__title">Healthy Kids</div>
	<br>
	<div class="title-text__sub">eat&middot;move&middot;sleep</div>
</div>
<div class="home-intro" ng-hide="vm.showLogin">
	<p>Helen and Amos transformed their own lives when they changed how they cared for their bodies. Now they do that for their kids, making sure that healthy eating, movement, and sleep are just part of their family’s routine.</p>
</div>
<div class="info-container info-container--home" ng-hide="vm.showLogin" ng-init="vm.changeInfoTab(vm.targets[0])">
	<div class="info-inner info-inner--home">
		<div class="info-tabs">	
			<div class="info-tabs__behind-tabs info-tabs__behind-tabs--home">
				<div></div>
				<div></div>
			</div>	
			<div ng-repeat="(i, activity) in vm.targets" class="info-tabs__tab info-tabs__tab--{{activity.value}}" ng-click="vm.changeInfoTab(activity)">
				<div class="info-tabs__image info-tabs__image--{{activity.value}}"></div>
			</div>
		</div>
		<div class="info-container__video"></div>
		<div class="info-container__caption" ng-show="vm.current_activity.value=='nutrition'">
			Meal times in the Amosa household are special family times. Helen and Amos have put a lot of thought into how to make sure everyone eats a good variety of healthy food that they enjoy.
		</div>
		<div class="info-container__caption" ng-show="vm.current_activity.value=='movement'">
			Helen and Amos love getting out with their kids, be it a game in the park or a bike ride to the shops. But they’ve also found lots of fun ways for their kids to be active indoors.
		</div>
		<div class="info-container__caption" ng-show="vm.current_activity.value=='sleep'">
			Helen and Amos believe that the way children go to sleep is the way they wake up. They’ve set up routines to make sure their children go to bed feeling safe, comfortable, and relaxed.
		</div>
	</div>
</div>

<div class="week-nav week-nav--home"><span ng-click="vm.showLogin = !vm.showLogin">Sign up</span></div>
<div ng-show="vm.showLogin" class="login-form" ng-init="vm.landingScreen()">
    <div class="login-form__header">
    <div class="login-form__text">    	
        <span>Join</span>
        <span>Already a member?</span>
        <span><a href="#/login">Sign in</a></span>
    </div>
    </div>
    <form>
    	<input type="email" placeholder="Email" ng-model="vm.newAccount.email">
    	<input type="password" placeholder="Password">
    	<input type="password" placeholder="Confirm Password" ng-model="vm.newAccount.password">
	    <div class="login-form__submit" ng-click="vm.createAccount()">
	    	<span>Join Now</span>
	    </div>
    </form>
</div>
<div class="disclaimer" ng-show="vm.showLogin"><span>Only you will be able to track and share your family’s progress. Logging in is only so you can record your child’s data.</span></div>
