<div class="home-bg"></div>
<div class="alert alert-danger" ng-show="vm.error">
    There was a problem logging in. Please try again.
</div>
<div class="login-form login-form--login">
    <div class="login-form__header">
    <div class="login-form__text">      
        <span class="error" ng-show="vm.error">Invalid username or password</span>
        <span></span>
        <span id="sign-in"><a href="#/login">Sign in</a></span>
    </div>
    </div>
    <form class="login-form__form" ng-submit="vm.login()">
        <input type="email" placeholder="Email" ng-model="vm.credentials.username">
        <input type="password" placeholder="Password" ng-model="vm.credentials.password">
        <div class="login-form__submit" ng-click="vm.login()">
            <span>Log In</span>
        </div>
        <input type="submit" 
	       style="position: absolute; left: -9999px; width: 1px; height: 1px;"
	       tabindex="-1" />
    </form>
</div>

<div class="title-text title-text--login-page">
    <div class="title-text__title">Healthy Kids</div>
    <br>
    <div class="title-text__sub">move&middot;eat&middot;sleep</div>
</div>