<header-partial/>
<main id="progress-page" ng-init="vm.currentPage = 'badges'">
	<div class="category-progress">
		<div ng-repeat="(i, activity) in vm.targets" class="category-progress__badge category-progress__badge--{{activity.value}}">
			<div class="category-progress__image category-progress__image--{{activity.value}}"></div>
			<div class="category-progress__number category-progress__number--{{activity.value}}"><span>{{vm.getSummary(activity)}}</span></div>
			<div class="category-progress__text"><span>{{activity.display}} goals</span></div>
		</div>
	</div>
	<div class="category-progress__badge category-progress__badge--total">
		<div class="category-progress__number category-progress__number--total"><span>{{vm.getTotalSummary()}}</span></div>
		<div class="category-progress__text"><span>Total goals</span></div>
	</div>
	<div class="share-text"><p>Do you have family or friends who would love to know how you and your children are doing in your mission for a healthier life? You could just tell them about it in person or you could use Facebook or email.</p></div>
	<div class="share">
		<div class="share__button" ng-click="vm.facebookShare()"></div>
		<a href="mailto:?subject={{vm.child.firstName}}'s progress&body=Fantastic news! {{vm.child.firstName}} has achieved another goal in our mission to get this family healthier!"><div class="share__button"></div></a>
	</div>
	<!-- <div class="fb-share-button" data-href="https://pure-island-83329.herokuapp.com" data-layout="button_count" data-size="large" data-quote="Fantastic news! {{vm.child.firstName}}} has achieved another goal in our mission to get this family healthier!" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpure-island-83329.herokuapp.com%2F&amp;src=sdkpreparse">Share</a></div> -->
</main>
<div class="week-nav"></div>