<header-partial/>
<div class="rewards" ng-init="vm.currentPage = 'rewards'">
	<div class="rewards__text">
		<p>The best reward for your child is for them to know how proud they make you! A kiss, a cuddle, or a high five makes us all feel good! But sometimes, we all like something a bit more, so here are some ideas for rewarding your child when they have achieved their weekly goal.</p>
	</div>
	<div class="rewards__recommended">
		<h2>Possible rewards</h2>
		<div class="rewards__reward">
			<div class="rewards__image rewards__image--reward"></div>
			<select ng-model="vm.child.defaultNutritionReward" ng-change="vm.updateDefaultRewards()">
				<option ng-repeat="reward in vm.defaultRewards" value="{{reward.id}}" ng-selected="vm.child.defaultNutritionReward === reward.id">{{reward.reward}}</option>
			</select>
		</div>
	</div>
	<div class="rewards__custom">
		<h2>Custom reward</h2>
		<div class="rewards__reward">
			<div class="rewards__image rewards__image--reward"></div>
			<textarea placeholder="Click to edit" ng-model="vm.child.customRewards[0].reward" ng-blur="vm.updateRewards()"></textarea>
		</div>
	</div>
</div>
<div class="week-nav"></div>


<!-- <div id="ministryNutritionReward"><h1>Ministry approved nutrition reward</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non dui quis lorem ultrices aliquet. Nulla molestie mauris a neque convallis egestas. Aenean enim tortor, egestas eget ullamcorper eu, laoreet id risus. Nulla erat purus, bibendum tincidunt scelerisque vitae, faucibus quis arcu. Etiam nec laoreet urna. Nam vitae euismod orci, vel tempus justo. Quisque imperdiet elit eros, ac hendrerit nunc molestie vitae. </p>
</div>
<div id="ministryNutritionReward"><h1>Ministry approved movement reward</h1>
<p>Vivamus lacinia eros maximus lacus sollicitudin sollicitudin eget in diam. Morbi aliquam convallis nisi a faucibus. Nulla pulvinar metus ac ligula fringilla, a suscipit augue dignissim. Donec aliquam lobortis finibus. Donec non orci congue, accumsan velit a, ullamcorper dui. Mauris bibendum rhoncus lacinia. Sed euismod nec velit vel interdum. </p>
</div>
<div id="ministryNutritionReward"><h1>Ministry approved sleep reward</h1>
<p>Nulla arcu erat, fringilla in suscipit a, lobortis eget augue. Aliquam lacus lorem, sodales quis magna at, laoreet mattis nisl. Suspendisse libero dui, viverra non ipsum eu, sagittis auctor nibh. Etiam nec nibh tempus, iaculis est nec, luctus ex. Pellentesque luctus urna non mattis luctus. Sed bibendum mi eget ligula ullamcorper fringilla. Sed convallis nibh sollicitudin, posuere nulla et, ullamcorper elit. </p>
</div>
<h2>Add up to three of your own rewards</h2>
<div ng-show="vm.child.customRewards.length > 0"><textarea style="width:100%;" ng-model="vm.child.customRewards[0].reward"/></div>
<div ng-show="vm.child.customRewards.length > 1"><textarea style="width:100%;" ng-model="vm.child.customRewards[1].reward"/></div>
<div ng-show="vm.child.customRewards.length > 2"><textarea style="width:100%;" ng-model="vm.child.customRewards[2].reward"/></div>
<div ng-show="vm.child.customRewards.length < 3"><input ng-model="vm.newCustomReward" type="text" style="width:100%; margin: 5px 0; font-size:large;" placeholder="Add a customised reward here"/></div>
<input type="submit" ng-click="vm.updateRewards()" value="save rewards"/> -->