<header ng-init="vm.selectHeaderButton()">
	<div class="header-button header-button--profile"><a href="#/child/{{vm.child.id}}" ng-click="vm.currentPage = 'profile'; vm.selectHeaderButton()"><span>My week</span></a></div>
	<div class="header-button header-button--goals"><a href="#/child/{{vm.child.id}}/goals"><span ng-click="vm.currentPage = 'goals'; vm.selectHeaderButton()">My goals</span></a></div>
	<div class="header-button header-button--rewards"><a href="#/child/{{vm.child.id}}/rewards" ng-click="vm.currentPage = 'rewards'; vm.selectHeaderButton()"><span>My rewards</span></a></div>
	<div class="header-button header-button--badges"><a href="#/child/{{vm.child.id}}/progress" ng-click=" vm.currentPage = 'badges'; vm.selectHeaderButton()"><span>My progress</span></a></div>
	<child-menu/>
</header>