$purple:#90648A;  
$blue:#769EAF;
$green:#B5C180;
$orange:#DE8A60;
$red: #DA5853;


html, body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	height: 1200px;
	position: absolute;
	font-family: 'Open Sans', sans-serif;
}

span {
	display: inline-block;
}

@mixin center {
	top: 50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@mixin center-vertical {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin center-horizontal {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.container {
	@include center;
	box-sizing: border-box;
	position: absolute;
	width: 810px;
	height: 100%;
	padding: 20px;
}

header {
	z-index: 2;
	height: 33.3333%;
	width: 100%;
	position: relative;
}

main {
	z-index: 1;
	position: relative;
	width: 100%;
	height: 66.6666%
}

.chart-videos-container {
	@include center;
	border: 1px solid black;
	position: absolute;
	top: 250px;
	height: 65%;
	width: 90%;
	&__video {
		float: left;
		&--big {
			width: 70%;
			height: 100%;
		}
		&--small {
			width: 30%;
			height: 50%;
		}
	}
}

.logo {
	position: absolute;
	border: 1px solid black;
	top: 15px;
	width: 130px;
	height: 60px;
	margin-left: 5%;
}

.user-icon {
	position: absolute;
	border: 1px solid black;
	width: 60px;
	height: 60px;
	&--menu {
		right: 5%;
		top: 15px;
		z-index: 2;
	}
}

.progress-button {
	position: absolute;
	border: 1px solid black;
	top: 15px;
	right: 15%;
	height: 60px;
	width: 100px;
}

.tick-chart {
	@include center;
	position: absolute;
	width: 65%;
	height: 75%;
	border: 1px solid black;
	&__column {
		width: calc(100% / 3);
		height: 100%;
		float: left;
		&--move {
			background-color: $blue;
		}
		&--eat {
			background-color: $green;
		}
		&--sleep {
			background-color: $orange;
		}
	}
	&__day {
		height: calc(100% / 7);
		width: 100%;
		&:after {
			@include center-horizontal;
			display: block;
			content:"";
			width: 90%;
			position: relative;
			top: 99%;
			height: 1px;
			background-color: white;
			opacity: 0.5;
		}
	}
}

.weekdays-column {
	@include center-vertical;
	position: absolute;
	margin: 0 0 0 3%;
	width: 13%;
	height: 75%;
	&__weekday {
		height: calc(100% / 7);
		width: 100%;
		float: left;
		position: relative;
		span {
			@include center;
			position: absolute;
			text-align: center;
		}
	}
}

.daily-goals {
	@include center-vertical;
	position: absolute;
	right: 0;
	margin: 0 6.5% 0 0;
	width: 10%;
	height: 75%;
	border: 1px solid black;
	&__goal {
		height: calc(100% / 7);
		width: 100%;
		&--active {
			background-color: $purple;
		}
	}
}

.weekly-goals {
	@include center-horizontal;
	position: absolute;
	bottom: 0;
	height: 10%;
	width: 65%;
	border: 1px solid black;
	&__goal {
		width: calc(100% / 3);
		height: 100%;
		float: left;
		&--active {
			background-color: red;
		}
	}
}

.super-goal {
	position: absolute;
	right: 0;
	top: 90%;
	width: 8%;
	padding-bottom: 8%;
	border-radius: 50%;
	background-color: $purple;
	margin: 0 7.5% 0 0;
	display: none;
}

.activities-row {
	@include center-horizontal;
	position: absolute;
	width: 65%;
	height: 8%;
	border: 1px solid black;
	margin-top: 2%;
	&__activity {
		width: calc(100% / 3);
		height: 100%;
		float: left;
		span {
			@include center;
			position: relative;
		}
	}
}

.login-form {
	@include center;
	position: absolute;
	width: 55%;
	height: 600px;
	overflow: auto;
	&__header {
		top: 0;
		width: 100%;
		height: 20%;
		background-color: $green;
		clear: both;
		span {
			position: relative;
		}
		span:nth-child(-n+2) {
			left: 0;
			float: left;
			width:55%;
			height: 50%;
		}
		span:nth-child(3) {
			right: 0;
			width: 45%;
			height: 100%;
		}
	}
	form {
		height: 80%;
		width: 100%;
	}
	input {
		outline: none;
		box-sizing: border-box;
		border: none;
		-webkit-appearance: none;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		font-size: 3em;
		line-height: calc(100% / 4);
		text-align: center;
		width: 100%;
		height: calc(100% / 4);
		background-color: $purple;
	}
	&__submit {
		line-height: calc(100% / 4);
		text-align: center;
		width: 100%;
		height: calc(100% / 4);
		background-color: $blue;
		color: $purple;
		&:hover {
			background-color: $purple;
			color: $blue;

		}
		span {
			@include center;
			position: relative;
		}
	}
}

.child-menu {
	transition-duration: 1s;
	border-radius: 5px;
	z-index: 2;
	position: absolute;
	right: 0;
	margin: 95px 40px 0 0;
	height: 550px;
	width: 350px;
	background-color: $green;
	&:after {
		right: 0;
		content:"";
		display: inline;
		height: 30px;
		width: 30px;
		position: absolute;
		top: -7px;
		margin-right: 15px;
		background-color: inherit;
		-ms-transform: rotate(45deg); /* IE 9 */
	    -webkit-transform: rotate(45deg); /* Safari */
	    transform: rotate(45deg);
	}
	&__child {
		height: calc(90% / 3);
		width: 100%;
		float: left;
		position: relative;
		box-sizing: border-box;
		&:after {
			@include center-horizontal;
			display: block;
			content:"";
			width: 90%;
			position: absolute;
			top: 99%;
			height: 1px;
			background-color: white;
			opacity: 0.5;
		}
	}
	&__profile-pic {
		@include center-vertical;
		border: 1px solid black;
		position: absolute;
		margin-left: 10px;
		width: 75px;
		height: 75px;
	}
	&__name {
		@include center-vertical;
		clear: both;
		position: relative;
		height: 75px;
		width: 100%;
		padding-left: 95px;
		font-size: 2em;
		span {
			top: -10px;
			position: absolute;
		}
	}
	&__see-more {
		border-radius: inherit;
		width: 100%;
		height: 10%;
		float: left;
		background-color: $purple;
		&:after { //fix for border radius on top of div
			display: block;
			content: "";
			width: 100%;
			height: 10px;
			top: 0;
			background-color: inherit; 
		}
	}
}

.homepage-background-squares {
	width: 100%;
	height: 810px;
	position: absolute;
	&__square {
		width: 405px;
		height: 405px;
		float: left;
	}
	&__square:nth-child(1) {
		background-color: $purple;
	}
	&__square:nth-child(2) {
		background-color: $blue;
	}
	&__square:nth-child(3) {
		background-color: $green;
	}
	&__square:nth-child(4) {
		background-color: $orange;
	}
}

.homepage-background-footer {
	height: calc(100% - 810px);
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: $red;
}

header#badges-page {
	height: 10%;
	border: 1px solid black;
}

main#badges-page {
	height: 80%;
	border: 1px solid black;
}

footer#badges-page {
	height: 10%;
	border: 1px solid black;
}

.badges-title {
	height: 5%;
	span {
		@include center;
		position: relative;
	}
}

.category-badges {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	height: 15%;
	padding: 0 15% 0 15%;
	align-items: center;
	justify-content: space-between;
	&__badge {
		flex: 1;
		position: relative;
		border-radius: 50%;
		border: 1px solid black;
		margin: 0 10px 0 10px;
		height: 130px;
		max-width: 130px;
		span {
			@include center;
			position: relative;
			font-size: 3em;
		}
	}
}

.total-badge {
	box-sizing: border-box;
	height: 20%;
	width: 100%;
	padding: 10px 0 10px 0;
	&__badge {
		@include center;
		position: relative;
		height: 170px;
		width: 170px;
		border: 1px solid black;
		border-radius: 50%;
		span {
			@include center;
			position: relative;
			font-size: 3em;
		}
	}
}

.stickers {
	box-sizing: border-box;
	height: 60%;
	width: 100%;
	padding: 10px 15% 10px 15%;
	&__sticker {
		box-sizing: border-box;
		margin: 10px 10px 10px 10px;
		width: calc(100% / 4 - 20px);
		height: calc(100% / 4 - 20px);
		float: left;
		border: 1px solid black;
		border-radius: 50%;
	}
}

.video {
	&--full-width {
		width: 100%;
		height: 30%;
		border: 1px solid black;
	}
}

.copy {
	font-size: 1.2em;
	&--full-width {
		border: 1px solid black;
		width: 100%;
		height: 40%;
	}
	&--med-width {
		border: 1px solid black;
		margin: 0 15% 0 15%;
		width: 70%;
		height: 15%;
	}
}

.category-buttons {
	width: 100%;
	height: 10%;
	&__button {
		width: 25%;
		height: 100%;
		float: left;
		border: 1px solid black;
	}
	span {
		@include center;
		position: relative;
	}
}

.sticker-display {
	border: 1px solid black;
	margin: 5% 0 5% 0;
	height: 30%;
	width: 100%;
}

.social-media-icons {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 5%;
	width: 70%;
	margin: 0 15% 0 15%;
	height: 10%;
	&__icon {
		border: 1px solid black;
		height: 100%;
		max-width: 115px;
		flex: 1;
	}
}





