@font-face {
  font-family: 'KGShePersisted';
  src: url("../fonts/KGShePersisted.ttf") format("truetype"); }
a {
  color: inherit;
  text-decoration: none; }

a:visited {
  color: inherit; }

html, body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  height: 1200px;
  position: absolute;
  font-family: 'KGShePersisted', sans-serif; }

span {
  display: inline-block; }

[ng-click] {
  cursor: pointer; }

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }
@keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }
.container {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background-color: #F0FFFF;
  box-sizing: border-box;
  position: absolute;
  width: 810px;
  height: 100%; }

header {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
  background-color: #EC3F4E;
  z-index: 2;
  height: 7%;
  width: 100%;
  position: relative; }

.header-button {
  font-size: 1.5em;
  width: 30%;
  height: 100%;
  float: left;
  position: relative; }
  .header-button span {
    display: inline-block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative; }
  .header-button:nth-child(1):after, .header-button:nth-child(2):after {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    display: inline-block;
    background-color: white;
    content: "";
    height: 70%;
    width: 4px;
    border-radius: 5px;
    right: 0;
    position: absolute; }

main {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%; }

.child-select-inner {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 150px;
  position: absolute;
  width: 55%;
  height: 380px;
  border-radius: 5px; }

.child-select-button {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
  position: relative;
  width: 90%;
  margin: 10px 0 10px 0;
  height: 60px;
  background-color: #FFD33E;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  color: #F0FFFF;
  font-size: 2em; }
  .child-select-button span {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center; }
  .child-select-button--add {
    margin: 0 0 30px 0; }
  .child-select-button__edit {
    width: 15%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 2;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.1);
    transition-duration: 1s; }
    .child-select-button__edit span {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      font-size: 0.6em; }
  .child-select-button:hover {
    border: 2px solid black; }

.info-inner {
  display: none; }

.info-tabs {
  height: 125px;
  width: 100%; }
  .info-tabs__behind-tabs {
    width: 100%;
    height: 125px;
    position: absolute; }
    .info-tabs__behind-tabs div:nth-child(1) {
      position: absolute;
      height: 30px;
      width: 100%;
      z-index: 1;
      background-color: #EC3F4E; }
    .info-tabs__behind-tabs div:nth-child(2) {
      position: absolute;
      width: 100%;
      height: 35px;
      bottom: -10px;
      z-index: 3;
      background-color: #00B8B1; }
  .info-tabs__tab {
    padding: 0 5px 0 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;
    height: 100%;
    width: calc(33.3333% - 10px);
    border-radius: 25px;
    float: left; }
    .info-tabs__tab--movement {
      background-color: #7251A0; }
    .info-tabs__tab--nutrition {
      background-color: #80C536; }
    .info-tabs__tab--sleep {
      background-color: #00B8B1; }
  .info-tabs__image {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 10px;
    position: relative;
    max-width: 70%;
    max-height: 70%;
    height: 70%;
    width: 70%;
    z-index: 3;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
    .info-tabs__image--sleep {
      background-image: url("../imgs/sleep-white.png"); }
    .info-tabs__image--nutrition {
      background-image: url("../imgs/nutrition-white.png"); }
    .info-tabs__image--movement {
      background-image: url("../imgs/movement-white.png"); }

.info-button {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -25px;
  z-index: 1;
  border-radius: 25%;
  width: 60px;
  height: 40px;
  position: absolute;
  background-color: #00B8B1;
  background-size: 80%;
  background-position: 50% 120%;
  cursor: pointer;
  background-repeat: no-repeat; }
  .info-button:after {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    top: -5px;
    left: 15px;
    line-height: 60px;
    text-align: center;
    color: white;
    content: '\276E';
    font-size: 3em;
    position: absolute;
    display: inline-block;
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-90deg); }

.home-bg {
  height: 100%;
  width: 100%;
  background-color: #EC3F4E;
  position: absolute; }

.child-update-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../imgs/children-big.png");
  background-size: cover;
  background-color: #FFD33E; }

.child-form {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  top: 150px;
  position: absolute;
  width: 48%;
  height: 410px;
  background-color: #EC3F4E; }
  .child-form__icon {
    width: 75px;
    height: 75px;
    border: 2px solid #FFD33E;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    border-radius: 5px;
    margin: 10px 0 10px 0; }
  .child-form input::placeholder {
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    font-family: 'KGShePersisted'; }
  .child-form__input {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    outline: none;
    box-sizing: border-box;
    border: none;
    -webkit-appearance: none;
    margin: 5px 0 5px 0;
    padding: 0 0 0 10px;
    font-size: 1.6em;
    line-height: calc(100% / 4);
    width: 90%;
    height: 60px;
    background-color: #FFD33E;
    font-family: 'KGShePersisted';
    border-radius: 5px;
    color: white; }
    .child-form__input--sticker span {
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      display: inline-block;
      position: relative;
      left: 3px; }
    .child-form__input--submit {
      color: #EC3F4E;
      margin: 35px 0 0 0;
      padding: 0 0 0 0;
      font-size: 2.5em; }
      .child-form__input--submit span {
        display: inline-block;
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }

.info-container {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  z-index: 2;
  border-radius: 5px;
  background-color: #00B8B1;
  position: absolute;
  top: -10px;
  padding-top: 10px;
  height: 35px;
  width: 100%;
  color: white; }
  .info-container__title {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    position: relative;
    margin: 10px 0 0 0;
    font-size: 4em; }
  .info-container__video {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    margin: 15px 0 0 0;
    width: 90%;
    height: 400px;
    border-radius: 5px;
    background-color: white;
    opacity: 0.6; }
  .info-container__caption {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 10px 0 0 0;
    position: relative;
    font-size: 1.2em;
    height: 100px;
    width: 90%;
    line-height: 25px; }
  .info-container h2 {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    position: relative;
    margin: 10px 0 10px 0;
    font-size: 2.3em; }
  .info-container__text {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    width: 90%; }
    .info-container__text ul {
      height: 180px;
      overflow: scroll; }
    .info-container__text li {
      line-height: 20px;
      margin: 0 0 8px 0; }

.logo {
  position: absolute;
  border: 1px solid black;
  top: 15px;
  width: 130px;
  height: 60px;
  margin-left: 5%; }

.user-icon {
  position: absolute;
  border-radius: 10px;
  width: 60px;
  height: 60px; }
  .user-icon--menu {
    right: 5%;
    top: 15px;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }

.progress-button {
  position: absolute;
  border: 1px solid black;
  top: 15px;
  right: 15%;
  height: 60px;
  width: 100px; }

.tick-chart {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  width: 65%;
  height: 60%; }
  .tick-chart__column {
    width: calc(100% / 3);
    height: 100%;
    float: left; }
  .tick-chart__day {
    height: calc(100% / 7);
    width: 100%; }

.checkbox {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 25%;
  width: 60px;
  height: 60px;
  position: relative;
  background-color: white;
  background-size: cover; }
  .checkbox--day {
    border: 2px solid; }
  .checkbox--movement {
    border-color: #7251A0; }
  .checkbox--nutrition {
    border-color: #80C536; }
  .checkbox--sleep {
    border-color: #00B8B1; }
  .checkbox--weekly-goal {
    background-image: url("../imgs/weekly-goal.png"); }
  .checkbox--daily-goal {
    background-image: url("../imgs/daily-goal.png"); }
  .checkbox--selected {
    background-image: url(""); }

.tick {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 50%;
  height: 30px;
  width: 30px; }
  .tick--day {
    border: 2px solid; }
  .tick--movement {
    background-color: #7251A0; }
  .tick--nutrition {
    background-color: #80C536; }
  .tick--sleep {
    background-color: #00B8B1; }
  .tick--goals {
    height: 40px;
    width: 40px;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 45px 1000px;
    -webkit-animation: rainbow 10s ease infinite;
    -z-animation: rainbow 10s ease infinite;
    -o-animation: rainbow 10s ease infinite;
    animation: rainbow 10s ease infinite; }
    .tick--goals:after {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      content: "";
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      background-color: white;
      border-radius: 50%; }

.weekdays-column {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  margin: 0 0 0 3%;
  width: 13%;
  height: 60%; }
  .weekdays-column__weekday {
    font-size: 1.4em;
    color: #EC3F4E;
    height: calc(100% / 7);
    width: 100%;
    float: left;
    position: relative; }
    .weekdays-column__weekday span {
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      text-align: right;
      right: 0; }

.daily-goals {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  right: 0;
  margin: 0 6.5% 0 0;
  width: 10%;
  height: 60%; }
  .daily-goals__goal {
    height: calc(100% / 7);
    width: 100%; }

.weekly-goals {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  bottom: 10%;
  height: 10%;
  width: 65%; }
  .weekly-goals__goal {
    width: calc(100% / 3);
    height: 100%;
    float: left; }
    .weekly-goals__goal--active {
      background-color: red; }

.super-goal {
  display: none;
  position: absolute;
  right: 0;
  width: 8%;
  bottom: 12%;
  padding-bottom: 8%;
  border-radius: 50%;
  background-color: #7251A0;
  margin: 0 7.5% 0 0; }

.activities-row {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 65%;
  height: 15%;
  margin-top: 7%; }
  .activities-row__image {
    height: 60%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
    .activities-row__image--sleep {
      background-image: url("../imgs/sleep.png"); }
    .activities-row__image--nutrition {
      background-image: url("../imgs/nutrition.png"); }
    .activities-row__image--movement {
      background-image: url("../imgs/movement.png"); }
  .activities-row__activity {
    font-family: 'KGShePersisted';
    font-size: 3em;
    width: calc(100% / 3);
    height: 100%;
    float: left; }
    .activities-row__activity span {
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      position: relative;
      bottom: 0; }
    .activities-row__activity--movement {
      color: #7251A0; }
    .activities-row__activity--nutrition {
      color: #80C536; }
    .activities-row__activity--sleep {
      color: #00B8B1; }

.login-form {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  top: 150px;
  position: absolute;
  width: 55%;
  height: 440px;
  background-color: white; }
  .login-form--login {
    height: 350px; }
  .login-form--hidden {
    display: none; }
  .login-form__text {
    color: #EC3F4E;
    font-size: 1.5em; }
    .login-form__text span {
      display: block;
      position: absolute;
      bottom: 0; }
    .login-form__text span:nth-child(1) {
      bottom: 30px; }
    .login-form__text span:nth-child(3) {
      right: 120px; }
    .login-form__text span#sign-in {
      left: 0; }
  .login-form__header {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    top: 0;
    width: 85%;
    height: 20%;
    clear: both; }
  .login-form form {
    height: 80%;
    width: 100%; }
  .login-form input {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    outline: none;
    box-sizing: border-box;
    border: none;
    -webkit-appearance: none;
    margin: 5px 0 5px 0;
    padding: 0 0 0 10px;
    font-size: 1.6em;
    line-height: calc(100% / 4);
    width: 85%;
    height: 60px;
    background-color: #FFD33E;
    font-family: 'KGShePersisted'; }
  .login-form input::placeholder {
    color: black;
    font-family: 'KGShePersisted'; }
  .login-form__submit {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    line-height: calc(100% / 4);
    border-radius: 10px;
    margin: 25px 0 0 0;
    text-align: center;
    width: 85%;
    height: 60px;
    background-color: #00B8B1;
    color: #F0FFFF;
    transition-duration: 1s; }
    .login-form__submit:hover {
      background-color: #EC3F4E;
      color: #FFD33E; }
    .login-form__submit span {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute; }

.title-text {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 85%;
  top: 900px;
  color: white;
  transition-duration: 1s; }
  .title-text__title {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    font-size: 5.2em;
    display: inline-block; }
  .title-text__sub {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    display: inline-block;
    font-size: 3em; }
  .title-text--login-page {
    top: 540px; }
  .title-text--child-select {
    top: 540px; }
  .title-text--child-update {
    top: 640px; }

.child-menu {
  top: 65px;
  transition-duration: 1s;
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  right: 0;
  margin: 10px 0px 0 0;
  height: 550px;
  width: 350px;
  background-color: #7251A0; }
  .child-menu:after {
    right: 0;
    content: "";
    display: inline;
    height: 30px;
    width: 30px;
    position: absolute;
    top: -7px;
    margin-right: 15px;
    background-color: inherit;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .child-menu__child {
    height: calc(90% / 3);
    width: 100%;
    float: left;
    position: relative;
    box-sizing: border-box; }
    .child-menu__child:after {
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      display: block;
      content: "";
      width: 90%;
      position: absolute;
      top: 99%;
      height: 1px;
      background-color: white;
      opacity: 0.5; }
  .child-menu__profile-pic {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 1px solid black;
    position: absolute;
    margin-left: 10px;
    width: 75px;
    height: 75px; }
    .child-menu__profile-pic img {
      max-height: 100%;
      max-width: 100%; }
  .child-menu__name {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    clear: both;
    position: relative;
    height: 75px;
    width: 100%;
    padding-left: 95px;
    font-size: 2em; }
    .child-menu__name span {
      top: -10px;
      position: absolute; }
  .child-menu__see-more {
    border-radius: inherit;
    width: 100%;
    height: 10%;
    float: left;
    background-color: #7251A0; }
    .child-menu__see-more:after {
      display: block;
      content: "";
      width: 100%;
      height: 10px;
      top: 0;
      background-color: inherit; }

.homepage-background-squares {
  width: 100%;
  height: 810px;
  position: absolute; }
  .homepage-background-squares__square {
    width: 405px;
    height: 405px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%; }
  .homepage-background-squares__square:nth-child(1) {
    background-color: #7251A0; }
  .homepage-background-squares__square:nth-child(2) {
    background-color: #00B8B1; }
  .homepage-background-squares__square:nth-child(3) {
    background-color: #80C536; }
  .homepage-background-squares__square:nth-child(4) {
    background-color: #FFD33E; }
  .homepage-background-squares__square--splash:nth-child(1) {
    background-image: url("../imgs/movement-white.png"); }
  .homepage-background-squares__square--splash:nth-child(2) {
    background-image: url("../imgs/sleep-white.png"); }
  .homepage-background-squares__square--splash:nth-child(3) {
    background-image: url("../imgs/nutrition-white.png"); }
  .homepage-background-squares__square--splash:nth-child(4) {
    background-image: url("../imgs/two-kids.png"); }
  .homepage-background-squares--splash {
    z-index: 2;
    top: 0; }

.homepage-background-footer {
  height: calc(100% - 810px);
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #EC3F4E; }

header#badges-page {
  height: 10%;
  border: 1px solid black; }

main#badges-page {
  height: 80%;
  border: 1px solid black; }

footer#badges-page {
  height: 10%;
  border: 1px solid black; }

.badges-title {
  height: 5%; }
  .badges-title span {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative; }

.category-badges {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  height: 15%;
  padding: 0 15% 0 15%;
  align-items: center;
  justify-content: space-between; }
  .category-badges__badge {
    flex: 1;
    position: relative;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0 10px 0 10px;
    height: 130px;
    max-width: 130px; }
    .category-badges__badge span {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: relative;
      font-size: 3em; }

.total-badge {
  box-sizing: border-box;
  height: 20%;
  width: 100%;
  padding: 10px 0 10px 0; }
  .total-badge__badge {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    height: 170px;
    width: 170px;
    border: 1px solid black;
    border-radius: 50%; }
    .total-badge__badge span {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: relative;
      font-size: 3em; }

.stickers {
  box-sizing: border-box;
  height: 60%;
  width: 100%;
  padding: 10px 15% 10px 15%; }
  .stickers__sticker {
    box-sizing: border-box;
    margin: 10px 10px 10px 10px;
    width: calc(100% / 4 - 20px);
    height: calc(100% / 4 - 20px);
    float: left;
    border: 1px solid black;
    border-radius: 50%; }

.video--full-width {
  width: 100%;
  height: 30%;
  border: 1px solid black; }

.copy {
  font-size: 1.2em; }
  .copy--full-width {
    border: 1px solid black;
    width: 100%;
    height: 40%; }
  .copy--med-width {
    border: 1px solid black;
    margin: 0 15% 0 15%;
    width: 70%;
    height: 15%; }

.category-buttons {
  width: 100%;
  height: 10%; }
  .category-buttons__button {
    width: 25%;
    height: 100%;
    float: left;
    border: 1px solid black; }
  .category-buttons span {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative; }

.sticker-display {
  margin: 5% 0 5% 0;
  height: 30%;
  width: 100%; }
  .sticker-display img {
    max-width: 60px;
    max-height: 60px; }

.social-media-icons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5%;
  width: 70%;
  margin: 0 15% 0 15%;
  height: 10%; }
  .social-media-icons__icon {
    border: 1px solid black;
    height: 100%;
    max-width: 115px;
    flex: 1; }

.week-nav {
  width: 100%;
  height: 5%;
  background-color: #EC3F4E;
  bottom: 0;
  position: absolute; }
  .week-nav span {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 0 0 15px;
    font-size: 1.3em;
    color: white;
    position: relative; }

/**
 * Modal styles 
 */
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8; }

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index: 10000;
  position: absolute;
  width: 50%;
  /* Default */
  /* Center the dialog */
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.ng-modal-dialog-content {
  padding: 10px;
  text-align: left; }

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif'; }

/*# sourceMappingURL=style.css.map */
